.dashboard-orders-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dashboard-orders-container > h2 {
    font-size: 2rem;
    font-weight: 400;

    padding: .5rem;

    padding-bottom: .5rem;
}

.orders-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}