.popup-container {
    position: fixed;

    bottom: 5%;
    right: 0;

    z-index: 10;

    width: auto;
    height: auto;

    padding: 1rem;

    background-color: var(--secondary-gray);
    border: 1px solid var(--action-aqua);
    border-radius: 1rem 0 0 1rem;

    color: var(--subtleBG-white);
    font-size: 1.25rem;
    font-weight: 500;

    transition: transform 1s ease-in-out;
}