.newscard-wrapper {
    width: 33.33%;
    height: 100%;

    padding: 1rem;

    transition: transform 0.5s ease;
}

.newscard-container {
    all: unset;

    display: block;

    width: auto;
    height: 300px;

    background-color: var(--secondary-gray);

    border-radius: 1rem;

    padding: 1rem;

    white-space: nowrap;

    cursor: pointer;

    text-decoration: none;
}

.image-container {
    height: 70%;
    width: 100%;

    margin-bottom: 0.5rem;
}

.image-container > img {
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.newscard-container > h1 {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    
    font-weight: 500;
    font-size: 1.5rem;
}

.newscard-container > p {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;

    font-weight: 400;
}