.ProductCard {
    text-decoration: none;
    color: black;
    
    width: 300px;
    height: 400px;

    background-color: var(--secondary-gray);
    color: var(--subtleBG-white);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);

    border-radius: 1rem;

    padding: .5rem 1rem .5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: transform .2s ease;
}

.ProductCard:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    transition: transform .2s ease;
}

.ProductCard > h1 {    
    height: 15%;
    width: 90%;

    margin-bottom: 0.5rem;

    font-size: 1.25rem;;
    font-weight: 400;
    text-align: left;

    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductCard > p {
    width: 90%;

    margin-top: 0.5rem;
    
    text-align: left;
    font-weight: 300;
    font-size: 1.35rem;
}


.ProductCard > img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.BtnContainer {
    height: 20%;
    width: 90%;

    display: flex;
    align-items:center;
}


.AddToCartBtn, .AddToListBtn {
    all: unset;

    width: 50%;
    height: 50%;

    cursor: pointer;    

    transition: background-color .2s ease;

    display: flex;
    justify-content:center;
    align-items:center;
}

.AddToListBtn > img, .AddToCartBtn > img {
    height: 80%;
    aspect-ratio: 4/3;
    object-fit: contain;

    filter: invert(100%);
}

.AddToCartBtn > img {
    height: 100%;
}

.AddToListBtn {
    border: 3px solid var(--subtleBG-white);
    
    border-radius: 1rem 0 0 1rem;

    transition: filter .2 ease;
}

.AddToListBtn:hover {
    background-color: var(--subtleBG-white);

    transition: background-color .2 ease;
}

.AddToListBtn:hover > img {
    filter: invert(0);
}

.AddToCartBtn {
    border: 3px solid var(--action-aqua);
    border-radius: 0 1rem 1rem 0;

}

.AddToCartBtn:hover {
    background-color: var(--action-aqua);

    transition: background-color .2s ease;
}

